.questions-heading{
    font-size: 40px;
    color: rgb(217, 123, 15);
    text-align: center;

}
.text-questions-no{
    font-size: 30px;

}
.text-questions{
   font-size: 26px;
   margin: 10px 0;

}
.option-card{
    border: solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    
}
.option-card:hover{
background-color: #f0f0f0;
}

.img-next-questions{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor:pointer;
    width: 50px;
    height: 50px;
}
.img-back-questions{
    position: relative;
    bottom: 20px;
    right: 10px;
    cursor:pointer;
    width: 50px;
    height: 50px;
    margin-top: 100px;

}